.snbox {
	margin:0 auto;
	width: 500px;
	padding:20px;
	height:270px;
	background-color:#f3f3f3;
}

#curr_id
{

	display: inline;
}
#curr_to_id
{

	display: inline;
}

#c_val
{

	display: inline;
}

.pad {

	padding: 20px;
	width: :200px;

}

h2
{

margin-top: 0px !important;
}

.bt {

	float:right;
margin:0px;float:right;padding-bottom:2px;
}


.disp
{

	display:inline;
}


.hp{

width: 400px;
height: 200px;
margin: 0 auto;
	border:1px solid red;
border-radius: 20px;

}